# Virtual environment directories
venv/
/venv/
*.venv/

# Python cache directories
__pycache__/
*.pyc

# IDE configuration directories
.idea/

.env
.env/

.vscode/

# Debug and Test results
tests/debug/

tests/debug_results/

# Binaries and Engines
*.exe
*.bin
backend/engines/stockfish.exe

# Private documentation
MO_TA_DU_AN.md