# Thư mục môi trường ảo
venv/
/venv/
*.venv/

# Thư mục cache của Python
__pycache__/
*.pyc

# Thư mục cấu hình của PyCharm
.idea/

.env
.env/

.vscode/

# Thư mục test debug
tests/debug/

tests/debug_results/