<div class="modal fade" id="gameOverModal" tabindex="-1" aria-labelledby="gameOverModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-white">

            <div class="modal-header border-0">
                <h5 class="modal-title" id="gameOverModalTitle">Ván đấu kết thúc</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body" id="gameOverModalBody">
            </div>

            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success" id="modalNewGameBtn">Chơi ván mới</button>
            </div>

        </div>
    </div>
</div>